
<html>
    <script sec ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body{ 
        font-size: 15pt;
        font-family: arial;
      }
    </style>
  <head>
    <titile>Animal Shows Information</titile>>
  </head>>
<body>
  <h1>CURRENT SHOWS</h1>

 <!--print table-->
 <table>
    <tr>
      <th>S_ID</th>
      <th>Show Name</th>
      <th>Number of Seats</th>
      <th>Show Time</th>
      <th>Park Name</th>
    </tr>
    {% for item in data %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
  </table>

<!-- operations -->

<!--error handler-->
{% if addMessage %}
        <p>{{ addMessage }}</p>
{% endif %}
    <!--add-->
    <p>Add New Animal Show</p>
    <p>Please fill the form to create a new Animal Show: </p>
    <form method="POST" action ="/addAnimalShow">
        <p>
            <label for="sid">S_ID</label>
            <input type="text" name="sid">
        </p>
        <p>
            <label for="show_name">Show Name</label>
            <input type="text" name="show_name">
        </p>
        <p>
            <label for="seat">Number of Seats</label>
            <input type="text" name="seat">
        </p>
        <p>
            <label for="time">Show Time</label>
            <input type="text" name="time">
        </p>
        <p>
            <label for="pname">Park Name</label>
            <input type="text" name="pname">
        </p>
        <p>
            <input type="submit" value="Add">
        </p>
    </form>
    <!--update-->
    <!--error handler-->
    {% if updateMessage %}
        <p>{{ updateMessage }}</p>
    {% endif %}
    <p>Update Current Animal Show</p>
    <p>Please refill the form with your update information: </p>
    <form method="POST" action ="/updateAnimalShow">
        <p>
            <label for="sid">S_ID</label>
            <input type="text" name="sid">
        </p>
        <p>
            <label for="show_name">Show Name</label>
            <input type="text" name="show_name">
        </p>
        <p>
            <label for="seat">Number of Seats</label>
            <input type="text" name="seat">
        </p>
        <p>
            <label for="time">Show Time</label>
            <input type="text" name="time">
        </p>
        <p>
            <label for="pname">Park Name</label>
            <input type="text" name="pname">
        </p>
        <p>
            <input type="submit" value="Update">
        </p>
    </form>

    <!--delete-->
    <!--error handler-->
    {% if deleteMessage %}
        <p>{{ deleteMessage }}</p>
    {% endif %}

    <p>Delete Current Animal Show</p>
    <p>Please enter the S_ID of Animal Show you want to delete: </p>
    <form method="POST" action ="/deleteAnimalShow">
        <p>
            <label for="sid">S_ID</label>
            <input type="text" name="sid">
        </p>
        <p>
            <input type="submit" value="Delete">
        </p>
    </form>

<!-- link to other pages -->
<p><a href="park"><button>Manage Park</button>></a></p>
<p><a href="another"><button>Manage Trainers</button>></a></p>

<!-- back to last page -->
<p><a href="/"><button>Back to Animal Page</button>></a></p>
</body>
</html>

