<html>
    <script sec ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body{ 
        font-size: 15pt;
        font-family: arial;
      }
    </style>
<head>
    <title>Trainers Information</title>>
</head>>

<body>
  <h1>CURRENT TRAINERS</h1>

   <table>
    <tr>
      <th>T_ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Work Time</th>
      <th>M_ID</th>
    </tr>
    {% for item in data %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
  </table>

<!-- operations -->
<!--error handler-->
{% if addMessage %}
        <p>{{ addMessage }}</p>
{% endif %}
    <!--add-->
    <p>Add New Trainer</p>
    <p>Please fill the form to create a new Trainer: </p>
    <form method="POST" action ="/addTrainer">
        <p>
            <label for="tid">T_ID</label>
            <input type="text" name="tid">
        </p>
        <p>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name">
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
        </p>
        <p>
            <label for="work_time">Work Time</label>
            <input type="text" name="work_time">
        </p>
        <p>
            <label for="mid">M_ID</label>
            <input type="text" name="mid">
        </p>
        <p>
            <input type="submit" value="Add">
        </p>
    </form>
    <!--update-->
    <!--error handler-->
    {% if updateMessage %}
        <p>{{ updateMessage }}</p>
    {% endif %}
    <p>Update Current Trainer</p>
    <p>Please refill the form with your update information: </p>
    <form method="POST" action ="/updateTrainer">
        <p>
            <label for="tid">T_ID</label>
            <input type="text" name="tid">
        </p>
        <p>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name">
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
        </p>
        <p>
            <label for="work_time">Work Time</label>
            <input type="text" name="work_time">
        </p>
        <p>
            <label for="mid">M_ID</label>
            <input type="text" name="mid">
        </p>
        <p>
            <input type="submit" value="Update">
        </p>
    </form>

    <!--delete-->
    <!--error handler-->
    {% if deleteMessage %}
        <p>{{ deleteMessage }}</p>
    {% endif %}

    <p>Delete Current Trainer</p>
    <p>Please enter the T_ID of Trainer you want to delete: </p>
    <form method="POST" action ="/deleteTrainer">
        <p>
            <label for="tid">T_ID</label>
            <input type="text" name="tid">
        </p>
        <p>
            <input type="submit" value="Delete">
        </p>
    </form>

<!-- link to other pages -->
<p><a href="manager"><button>Access Manager Info</button>></a></p>

<!-- back to last page -->
<p><a href="/"><button>Back to Animal Page</button>></a></p>
</body>
</html>
