
<!-- food template -->
<html>
  <script src ="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
    <title>Food Information</title>>
</head>>

<body>
  <h1>CURRENT FOOD</h1>
  <!-- <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

  <table>
    <tr>
      <th>Food Name</th>
      <th>Purchased Time</th>
      <th>Brand</th>
      <th>Unit Price</th>
      <th>Total Amount</th>
    </tr>
    {% for item in data %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
  </table>

<!-- operations -->
<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<!-- back to last page-->
<p><a href="index"><button>Back to Animals Page</button></a></p>
</body>
</html>

