<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>ANIMALS!</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/addAnimal">
<p>Add Information for New Animal:  
  AID:<input type="text" name="aid">
  Species: <input type="text" name="species">
  Age: <input type="text" name="age">
  Comes From: <input type="text", name="comes_from">
  Eating Property: <input type="text", name="eating_property">
  Activity Time: <input type="text", name="activity_time">
  Lifestyle: <input type="text", name="lifestyle">
  Park Name: <input type="text", name="parkname">
  <input type="submit" value="Add"></p>
</form>

</body>


</html>
