<html>
    <script sec ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body{ 
        font-size: 15pt;
        font-family: arial;
      }
      .color{
        width:100%;
        background-color: #d8effc;

      }
    </style>
<head>
    <title>IndexResult</title>
</head>

<body>
    <div class="color">
        <h1>Search Result</h1>
          <!--print result-->
          {% if trainerMessage %}
          <p>Trainer: {{trainerMessage}}</p>
          {% endif %}
        
          {% if breederMessage %}
          <p>Breeder: {{breederMessage}}</p>
          {% endif %}

          {% if foodMessage %}
          <p>Food: {{foodMessage}}</p>
          {% endif %}
    </div>

<!-- back to last page -->
<p><a href="/"><button>Back</button></a></p>
</body>
</html>

